version: "3.7"
services:
  proxy:
    restart: unless-stopped
    image: nginx:1.25
    container_name: proxy
    volumes:
      - ./proxy/default.conf:/etc/nginx/conf.d/default.conf
      - ./proxy/website.pem:/etc/ssl/website.pem
      - ./proxy/website.key:/etc/ssl/website.key
      - ./proxy/nginx:/var/log/nginx
    networks:
      - auth-frontend
      - frontend1
      - frontend2
      - frontend3
      - frontend4
    stop_grace_period: 3m
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - app1
      - app2
  auth:
    restart: unless-stopped
    build: ./auth
    container_name: auth
    env_file:
      - ./auth/.env
    volumes:
      - ./auth:/app
    depends_on:
      - auth-db
    networks:
      - auth-frontend
      - auth-backend
    stop_grace_period: 3m
    command: gunicorn --worker-tmp-dir /dev/shm --chdir /app "app:create_app()" -b :5000 --timeout 60 -w 4
    user: 1000:1000
  auth-db:
    restart: unless-stopped
    image: postgres:16
    container_name: auth-db
    env_file:
      - ./auth/.env
    volumes:
      - auth-db-data:/var/lib/postgresql/data
    networks:
      - auth-backend
    stop_grace_period: 3m
  app1:
    restart: unless-stopped
    build: ./app1
    container_name: app1
    env_file:
      - ./app1/.env
    volumes:
      - ./app1:/app
    depends_on:
      - db1
      - redis1
    networks:
      - frontend1
      - backend1
    stop_grace_period: 3m
    command: gunicorn --worker-tmp-dir /dev/shm --chdir /app "app:create_app()" -b :5000 --timeout 60 -w 4
    user: 1000:1000
  db1:
    restart: unless-stopped
    image: postgres:16
    container_name: db1
    env_file:
      - ./app1/.env
    volumes:
      - db1-data:/var/lib/postgresql/data
    networks:
      - backend1
    stop_grace_period: 3m
  redis1:
    restart: unless-stopped
    image: redis:7
    container_name: redis1
    volumes:
      - redis1-data:/data
    networks:
      - backend1
    stop_grace_period: 3m
  celery-worker1:
    restart: unless-stopped
    build: ./app1
    container_name: celery-worker1
    env_file:
      - ./app1/.env
    volumes:
      - ./app1:/app
    depends_on:
      - db1
      - redis1
    networks:
      - backend1
    stop_grace_period: 3m
    command: celery --app tasks worker --loglevel=info
    user: 1000:1000
  celery-beat1:
    restart: unless-stopped
    build: ./app1
    container_name: celery-beat1
    env_file:
      - ./app1/.env
    volumes:
      - ./app1:/app
    depends_on:
      - celery-worker1
    networks:
      - backend1
    stop_grace_period: 3m
    command: celery --app tasks beat --loglevel=info
    user: 1000:1000
  celery-flower1:
    restart: unless-stopped
    build: ./app1
    container_name: celery-flower1
    env_file:
      - ./app1/.env
    volumes:
      - ./app1:/app
    depends_on:
      - celery-worker1
      - celery-beat1
    networks:
      - backend1
      - frontend3
    stop_grace_period: 3m
    command: celery --app tasks flower
    user: 1000:1000
  app2:
    restart: unless-stopped
    build: ./app2
    container_name: app2
    env_file:
      - ./app2/.env
    volumes:
      - ./app2:/app
    depends_on:
      - db2
    networks:
      - frontend2
      - backend2
    stop_grace_period: 3m
    command: gunicorn --worker-tmp-dir /dev/shm --chdir /app "app:create_app()" -b :5000 --timeout 60 -w 4
    user: 1000:1000
  db2:
    restart: unless-stopped
    image: postgres:16
    container_name: db2
    env_file:
      - ./app2/.env
    volumes:
      - db2-data:/var/lib/postgresql/data
    networks:
      - backend2
    stop_grace_period: 3m
  redis2:
    restart: unless-stopped
    image: redis:7
    container_name: redis2
    volumes:
      - redis2-data:/data
    networks:
      - backend2
    stop_grace_period: 3m
  celery-worker2:
    restart: unless-stopped
    build: ./app2
    container_name: celery-worker2
    env_file:
      - ./app2/.env
    volumes:
      - ./app2:/app
    depends_on:
      - db2
      - redis2
    networks:
      - backend2
    stop_grace_period: 3m
    command: celery --app tasks worker --loglevel=info
    user: 1000:1000
  celery-beat2:
    restart: unless-stopped
    build: ./app2
    container_name: celery-beat2
    env_file:
      - ./app2/.env
    volumes:
      - ./app2:/app
    depends_on:
      - celery-worker2
    networks:
      - backend2
    stop_grace_period: 3m
    command: celery --app tasks beat --loglevel=info
    user: 1000:1000
  celery-flower2:
    restart: unless-stopped
    build: ./app2
    container_name: celery-flower2
    env_file:
      - ./app2/.env
    volumes:
      - ./app2:/app
    depends_on:
      - celery-worker2
      - celery-beat2
    networks:
      - backend2
      - frontend4
    stop_grace_period: 3m
    command: celery --app tasks flower
    user: 1000:1000
volumes:
  auth-db-data:
  db1-data:
  redis1-data:
  db2-data:
  redis2-data:
networks:
  auth-frontend:
  auth-backend:
  frontend1:
  backend1:
  frontend2:
  backend2:
  frontend3:
  frontend4:
